.login-container 
{
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
}

.login-box 
{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: #dbdbdb;
}

.login-box .login,
.login-box .sign-up-form 
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear;
}

.login-box .sign-in,
.login-box .sign-up,
.login-space .group .check 
{
    display: none
}
.login-box .tab,
.login-space .group .label,
.login-space .group .button 
{
    text-transform: uppercase
}

.login-box .tab 
{
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-box .sign-in:checked+.tab,
.login-box .sign-up:checked+.tab 
{
    color: #fff;
    border-color: #1161ee
}

.login-space 
{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group 
{
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button 
{
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button 
{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group .label 
{
    color: #08211b;
    font-size: 12px
}

.login-space .group .button 
{
    background: #1161ee
}

.login-box .sign-in:checked+.tab+.sign-up+.tab+.login-space .login 
{
    transform: rotate(0)
}

.login-box .sign-up:checked+.tab+.login-space .sign-up-form 
{
    transform: rotate(0)
}
a 
{
    color: inherit;
    text-decoration: none
}

button {
    letter-spacing: .2rem;
	text-transform: uppercase;
    font-weight: 600;
    border: 3px solid;
    width: 100%;
    display: block;
    padding: 15px 20px;
    border-radius: 25px;
	padding: 1% 2%;
	background: none;
	color: inherit;
	z-index: 1;
	-webkit-transition: border-color .3s, background-color .3s;
	transition: border-color .3s, background-color .3s;
}
button:hover {
	border-color: #ef233c;
	background-color: rgba(239, 35, 60, 0.1);
    -webkit-transform: translate3d(0, -10%, 0);
	transform: translate3d(0, -10%, 0);
}
button:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}