/* layout css */
body
{
    background-color:#dbdbdb;
}
#logo_span
{
    color:#dbdbdb;
    font-family: 'Expletus Sans', cursive;
}
.toggle_icon
{
    height:4px;
    width:30px;
    margin:4px;
}
.toggle_icon:first-child
{
    background-color:#1adb5d;
}
.toggle_icon:nth-child(2)
{
    background-color:#dbdbdb;
}
.toggle_icon:last-child
{
    background-color:#785964;
}

li .nav-link
{
    color:#dbdbdb;
}
button {
    letter-spacing: .2rem;
	text-transform: uppercase;
    font-weight: 600;
    border: 3px solid;
    border-radius: 40px;
	float: left;
	width:fit-content;
	padding: 1% 2%;
	background: none;
	color: inherit;
	z-index: 1;
	-webkit-transition: border-color .3s, background-color .3s;
	transition: border-color .3s, background-color .3s;
}
button:hover {
	border-color: #3f51b5;
	background-color: rgba(63, 81, 181, 0.1);
    -webkit-transform: translate3d(0, -10%, 0);
	transform: translate3d(0, -10%, 0);
}
button:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}


