/* layout css */
#logo_span
{
    color:#dbdbdb;
    font-family: 'Expletus Sans', cursive;
}
.toggle_icon
{
    height:4px;
    width:30px;
    margin:4px;
}
.toggle_icon:first-child
{
    background-color:#1adb5d;
}
.toggle_icon:nth-child(2)
{
    background-color:#dbdbdb;
}
.toggle_icon:last-child
{
    background-color:#785964;
}

li .nav-link
{
    color:#dbdbdb;
}


/* Homepage css */
#home
{
    margin-top:5px;
    margin-bottom:4%;
}
#home img
{
    border-radius:5%;
}
#carousel_image
{
    max-width:100%;
    max-height:100%;
}

.spin{
    -webkit-animation: rotation 2s 1 linear;
}

@-webkit-keyframes rotation {
    from {
            -webkit-transform: rotate(0deg);
    }
    to {
            -webkit-transform: rotate(359deg);
    }
}

.title_centred
{
    text-align:center;
}
.text_block
{
    text-align:justify;
}


button {
    letter-spacing: .2rem;
	text-transform: uppercase;
    font-weight: 600;
    border: 3px solid;
    border-radius: 40px;
	float: left;
	width:fit-content;
	padding: 1% 2%;
	background: none;
	color: inherit;
	z-index: 1;
	-webkit-transition: border-color .3s, background-color .3s;
	transition: border-color .3s, background-color .3s;
}
button:hover {
	border-color: #3f51b5;
	background-color: rgba(63, 81, 181, 0.1);
    -webkit-transform: translate3d(0, -10%, 0);
	transform: translate3d(0, -10%, 0);
}
button:hover::after {
	opacity: 1;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
/* footer */

footer
{
	position: relative;
	bottom: 0;
}

@media (max-height:800px)
{
	footer { position: static; }
	header { padding-top:40px; }
}


.footer-distributed
{
	background-color: #08211b;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
    color:#dbdbdb;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right
{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left
{
	width: 30%;
}

.footer-distributed h3
{
	color:  #dbdbdb;
	font-size:230%;
	margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img
{
	width: 30%;
}

/* Footer links */

.footer-distributed .footer-links
{
	color:  #dbdbdb;
	margin: 20px 0 12px;
}

.footer-distributed .footer-links a
{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name
{
	color:  #dbdbdb;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center
{
	width: 35%;
}


.footer-distributed .footer-center i
{
	background-color: #08211b;
	color: #dbdbdb;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope
{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p
{
	display: inline-block;
	color: #dbdbdb;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p a
{
	text-decoration: none;
}


/* Footer Right */

.footer-distributed .footer-right
{
	width: 30%;
}

.footer-distributed .footer-company-about
{
	line-height: 20px;
	color:  #dbdbdb;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span
{
	display: block;
	color:  #ef233c;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons
{
	margin-top: 25px;
}

/* media query to make the footer responsive */

@media (max-width: 880px) 
{
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right
    {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i
    {
		margin-left: 0;
	}

}

/* login and signup page */
.login-container 
{
    width: 100%;
    margin: auto;
    max-width: 525px;
    min-height: 670px;
    position: relative;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19)
}

.login-snip 
{
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(0, 77, 77, .9)
}

.login-snip .login,
.login-snip .sign-up-form 
{
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    transition: all .4s linear
}

.login-snip .sign-in,
.login-snip .sign-up,
.login-space .group .check 
{
    display: none
}

.login-snip .tab,
.login-space .group .label,
.login-space .group .button 
{
    text-transform: uppercase
}

.login-snip .tab 
{
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent
}

.login-snip .sign-in:checked+.tab,
.login-snip .sign-up:checked+.tab 
{
    color: #fff;
    border-color: #1161ee
}

.login-space 
{
    min-height: 345px;
    position: relative;
    perspective: 1000px;
    transform-style: preserve-3d
}

.login-space .group 
{
    margin-bottom: 15px
}

.login-space .group .label,
.login-space .group .input,
.login-space .group .button 
{
    width: 100%;
    color: #fff;
    display: block
}

.login-space .group .input,
.login-space .group .button 
{
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1)
}

.login-space .group .label 
{
    color: #aaa;
    font-size: 12px
}

.login-space .group .button 
{
    background: #1161ee
}

.login-space .group label .icon 
{
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1)
}

.login-space .group label .icon:before,
.login-space .group label .icon:after 
{
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    transition: all .2s ease-in-out 0s
}

.login-space .group label .icon:before 
{
    left: 3px;
    width: 5px;
    bottom: 6px;
    transform: scale(0) rotate(0)
}

.login-space .group label .icon:after 
{
    top: 6px;
    right: 0;
    transform: scale(0) rotate(0)
}

.login-space .group .check:checked+label 
{
    color: #fff
}

.login-space .group .check:checked+label .icon 
{
    background: #1161ee
}

.login-space .group .check:checked+label .icon:before 
{
    transform: scale(1) rotate(45deg)
}

.login-space .group .check:checked+label .icon:after 
{
    transform: scale(1) rotate(-45deg)
}

.login-snip .sign-in:checked+.tab+.sign-up+.tab+.login-space .login 
{
    transform: rotate(0)
}

.login-snip .sign-up:checked+.tab+.login-space .sign-up-form 
{
    transform: rotate(0)
}

*,
:after,
:before 
{
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before 
{
    content: '';
    display: table
}

.clearfix:after 
{
    clear: both;
    display: block
}

a 
{
    color: inherit;
    text-decoration: none
}

::placeholder 
{
    color: #b3b3b3
}