{% extends 'layout.html' %}
{% block title %}
    Home
{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="../static/css/home.css">
{% endblock style %}

{% block body %}
    <main id="homepage">
        <div class="container">
          <div class="row" id="home_row1">
            <div class="col" id="home">
              <!-- Add carousel and images here-->
              <div class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-touch="false">
                <div class="carousel-indicators">
                  <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                </div>
                <div class="carousel-inner" data-bs-interval="10000">
                  <div class="carousel-item active">
                    <img src="../static/img/forex5.jpg" class="d-block w-100" alt="ksh" id="carousel_image">
                  </div>
                </div>
              </div>
            </div>
          </div>  
          <div class="row" id="home_row1">
            <div class="col">
              <h2 class="title_centred">
                Forex <span> <i class="fas fa-question spin"> </i></span>
              </h2>
              <p class="text_block">
                It's an international market where national currencies are traded for profit making.
                It's important to learn this skill.
              </p>
            </div>  
            <div class="row" id="home_row2">
              <div class="col">
              <h2>Benefits of Forex trading</h2>
                <ul>
                  <li>International market</li>
                  <li>Regulated by authorities</li>
                  <li>Availability 24/7</li>
                  <li>High liquidity</li>
                  <li>It's fun</li>
                  <li>It's easy</li>
                </ul>
            </div>
          </div>
          <div class="row" id="home_row2">
            <h2 class="title_centred">Why eX50?</h2>
            <div class="col-lg-3 col-sm-12 col-md-6 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <img src="../static/img/forex1.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Simulates major Forex markets</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <img src="../static/img/no_risk.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Risk free</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <img src="../static/img/real_time.jpg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Uses real-time prices</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-sm-12 col-md-6 d-flex justify-content-center">
              <div class="card" style="width: 18rem;">
                <img src="../static/img/dollar.jpeg" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Each user is given virtual Ksh. 10,000 to begin with</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="row id="home_row3">
            <div class="col">
              <h2 class="title_centred">How to Trade</h2>
              <p>Now that you know the basics of forex trading, let's see how you'll trade. You should follow the following steps:</p>
            </div>
          </div>
          <!-- this section must have 2 rows. 1 row messes up the STRUCTURE. -->
          <div class="row" id="home_row3">
             <div class="col-lg-6 col-md-4 col-sm-12">
                <details>
                  <summary>Select a currency pair</summary>
                  <p class="text_block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, numquam ab explicabo placeat vel sint aperiam voluptatum excepturi eius! Ratione natus soluta possimus repudiandae similique perferendis deserunt cum laudantium.</p>
                </details>
             </div>
             <div class="col-lg-6 col-md-4 col-sm-12">
                <details>
                  <summary>Analyse the market</summary>
                  <p class="text_block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, numquam ab explicabo placeat vel sint aperiam voluptatum excepturi eius! Ratione natus soluta possimus repudiandae similique perferendis deserunt cum laudantium.</p>
                </details>
              </div>
              <div class="col-lg-6 col-md-4 col-sm-12">
                <details>
                  <summary>Read the quote</summary>
                  <p class="text_block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, numquam ab explicabo placeat vel sint aperiam voluptatum excepturi eius! Ratione natus soluta possimus repudiandae similique perferendis deserunt cum laudantium.</p>
                </details>
              </div>
              <div class="col-lg-6 col-md-4 col-sm-12">
                <details>
                  <summary>Pick your position</summary>
                  <p class="text_block">Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit iste, numquam ab explicabo placeat vel sint aperiam voluptatum excepturi eius! Ratione natus soluta possimus repudiandae similique perferendis deserunt cum laudantium.</p>
                </details>
              </div>
          </div>
          <div class="row" id="home_row3">
            <div class="col">
              <h3 class="title_centred">Register now to join the trend!</h3>
              <button type="button" justify-content-center>Sign up</button>
            </div>
          </div>
        </div>
    </main>

{% endblock body%}